In [1]:
%run rockycore
%run TriangleTimeSeriesSplit

In [2]:
rky = rocky()

In [3]:
rky.SampleTri('taylor_ashe')
rky.paid_loss.tri

development_period,1,2,3,4,5,6,7,8,9,10
accident_period,,,,,,,,,,
2001-01-01,357848.0,1124788.0,1735330.0,2218270.0,2745596.0,3319994.0,3466336.0,3606286.0,3833515.0,3901463.0
2002-01-01,352118.0,1236139.0,2170033.0,3353322.0,3799067.0,4120063.0,4647867.0,4914039.0,5339085.0,NaN
2003-01-01,290507.0,1292306.0,2218525.0,3235179.0,3985995.0,4132918.0,4628910.0,4909315.0,NaN,NaN
2004-01-01,310608.0,1418858.0,2195047.0,3757447.0,4029929.0,4381982.0,4588268.0,NaN,NaN,NaN
2005-01-01,443160.0,1136350.0,2128333.0,2897821.0,3402672.0,3873311.0,NaN,NaN,NaN,NaN
2006-01-01,396132.0,1333217.0,2180715.0,2985752.0,3691712.0,NaN,NaN,NaN,NaN,NaN
2007-01-01,440832.0,1288463.0,2419861.0,3483130.0,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01,359480.0,1421128.0,2864498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01,376686.0,1363294.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01,344014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
import itertools
def get_grid(grid):
  return list(itertools.product(*[grid[k] for k in grid.keys()]))

# anonymous function to get the key for each combination of hyperparameters
def is_number(n):
    try:
        float(n)
    except ValueError:
        return False
    except TypeError:
        return False
    return True

def get_key(grid, param_set):   
    return "-".join(
        [
            f"{k}_{np.round(v, 2) if is_number(v) and not isinstance(v, bool) else v}"
            for k, v in zip(grid.keys(), param_set)
        ]
    )

grid = ts.random_forest_grid

for k, v in zip(grid.keys(), get_grid(grid)[3]):
  if v is not None:
    if isinstance(v, bool):
        print(f"{k}_{v}" )
    elif isinstance(v, str):
        print(f"{k}_{v}" )
    else:
        print(f"{k}_{np.round(v, 2)}" )
        # print(f"{k}_{v}" )
#

n_estimators_10
min_samples_split_2
min_samples_leaf_1
max_features_sqrt
bootstrap_False

In [45]:
%run TriangleTimeSeriesSplit
ts = TriangleTimeSeriesSplit(rky.paid_loss)
result = ts.TuneModel(RandomForestRegressor())
result

Training models with data through 2009:   0%|          | 0/288 [00:00<?, ?it/s]

Training models with data through 2008:   0%|          | 0/288 [00:00<?, ?it/s]

Training models with data through 2007:   0%|          | 0/288 [00:00<?, ?it/s]

Training models with data through 2006:   0%|          | 0/288 [00:00<?, ?it/s]

Training models with data through 2005:   0%|          | 0/288 [00:00<?, ?it/s]

0 / 288 models failed to converge.

,ave_mse_train,sd_mse_train,cv_mse_train,ave_mse_test,sd_mse_test,cv_mse_test,ave_mae_train,sd_mae_train,cv_mae_train,ave_mae_test,sd_mae_test,cv_mae_test
n_estimators_10-min_samples_split_2-min_samples_leaf_2-bootstrap_False,2.355701e+10,9.471512e+09,0.402068,1.114593e+11,6.163147e+10,0.55295,109894.085351,20925.715486,0.190417,251007.339556,85168.001,0.339305

In [5]:
from sklearn.ensemble import RandomForestRegressor

AttributeError: 'NoneType' object has no attribute 'ay'