In [1]:
# data frames/structures
import pandas as pd
import numpy as np

# pytorch - neural network library
import torch
import torch.nn as nn
import torch.nn.functional as F

In [2]:
# custom class used to define the LossTriangleClassifier network
from model.LossTriangleClassifier import LossTriangleClassifier

In [3]:
# Triangle class imported from (future) rocky package
from triangle import Triangle

In [4]:
# methods for working with excel files
import openpyxl
from openpyxl.utils import range_to_tuple

In [5]:
# pre-fit/saved triangle model
model_file = r"C:\Users\AndyW\OneDrive\Documents\inc_cum_tri.torch"

In [6]:
# load paid & reported loss triangles, cumulative and incurred, from csu link ratio file
# using Triangle.from_excel() method

filename = r"C:\Users\AndyW\OneDrive\work\2022Q4 - OL Occ.xlsx"
rpt_sheet = "Reported Loss Development"
paid_sheet = "Paid Loss Development"

cum_rng = "B5:CD25"
inc_rng = "B83:CD103"

In [7]:
r = f"'{rpt_sheet}'!{cum_rng}"

print(f"range:\n{r}\n")
print(f"Running through `range_to_tuple` method yields:\n{range_to_tuple(r)}")

range:
'Reported Loss Development'!B5:CD25

Running through `range_to_tuple` method yields:
('Reported Loss Development', (2, 5, 82, 25))

In [8]:
rpt_cum = Triangle.from_clipboard(id='rpt_loss', origin_columns=1)
rpt_cum

0            3         6         9        12          15          18  \
AY
2003
2004
2005
2006
2007
2008      -      224.22     97.59    521.49    1,001.83    1,004.08
2009   307.97    254.44    347.82    368.09      449.19      460.47
2010   211.50    267.20    465.57    407.76      451.49      484.79
2011   287.87    282.87    315.02    425.71      438.80      465.27
2012   159.26    216.23    303.30    313.43      341.46      376.77
2013   156.30    232.44    275.16    275.56      297.84      318.48
2014   276.27    284.44    281.10    281.06      315.44      325.81
2015   288.18    219.54    291.58    274.94      300.05      296.77
2016   182.46    193.84    261.68    239.19      267.99      327.83
2017   159.34    188.92    223.63    234.24      279.71      309.97
2018   184.90    239.71    244.78    238.83      283.72      317.82
2019   176.67    223.21    272.60    258.66      317.22      348.26
2020   157.68    204.30    306.83    294.99      322.28      372.77
2021   222.35    354.80    341.57    360.20      427.79      499.01
2022   216.26    283.10    311.94    318.26

0             21        24          27          30  ...          42  \
AY                                                  ...
2003                                                ...
2004                                                ...
2005                                                ...
2006                                                ...
2007                                                ...
2008   1,065.65    973.26    1,066.52    1,100.35   ...   1,009.13
2009     472.95    424.28      424.13      423.60   ...     344.64
2010     491.17    481.22      488.62      478.89   ...     488.64
2011     469.73    461.11      464.61      457.61   ...     399.74
2012     360.86    354.13      346.83      334.59   ...     322.03
2013     316.93    346.47      363.89      369.74   ...     366.82
2014     363.42    350.31      378.70      383.01   ...     387.04
2015     281.77    289.59      318.02      332.81   ...     355.48
2016     326.00    340.67      337.24      354.05   ...     368.94
2017     324.84    339.03      368.96      402.19   ...     461.86
2018     347.43    359.25      389.21      399.33   ...     428.83
2019     377.44    415.67      417.33      462.90   ...     494.15
2020     387.66    422.06      446.16      456.83   ...
2021     541.86    574.79                           ...
2022                                                ...

0             45          48          51          54        57        60  \
AY
2003
2004
2005
2006
2007
2008   1,055.30    1,031.37    1,005.88    1,001.02    979.33    876.32
2009     368.21      311.58      300.13      313.02    293.20    268.57
2010     423.83      399.52      376.84      373.72    364.73    363.01
2011     378.47      359.86      363.99      362.99    377.25    367.79
2012     302.26      296.41      289.52      293.48    309.66    308.91
2013     363.16      348.59      339.66      344.34    338.89    342.71
2014     367.66      349.00      346.76      344.99    350.99    345.29
2015     352.33      344.81      369.87      365.18    358.04    362.24
2016     378.35      379.17      420.88      458.92    455.26    451.40
2017     453.95      466.80      459.10      463.59    457.31    457.73
2018     413.29      421.56      420.33      428.74    442.32    435.64
2019     505.32      513.12
2020
2021
2022

0           63        66        69
AY
2003
2004
2005
2006
2007
2008   855.31    836.21    834.76
2009   259.62    274.20    272.63
2010   370.74    355.35    341.86
2011   365.20    352.91    349.78
2012   310.18    307.95    300.75
2013   343.59    342.61    338.19
2014   340.53    343.00    343.09
2015   367.51    361.47    375.47
2016   449.19    446.87    456.46
2017   461.95    466.22    467.04
2018
2019
2020
2021
2022

[20 rows x 23 columns]

### preprocess data:
1. Remove AY < 2008 that are all blank
2. convert to 10x10 triangle
3. reshape as if it were a standard yearly triangle (just remove the extra columns so that it is a 10x10 triangle)

In [19]:
# 1. remove AY<2008
df = (rpt_cum.triangle
      
      .assign(AY=lambda x: x.index.astype(int)) # convert index to integer (right now it is likely a string)
      .query('AY >= 2008'))                     # only take AY >= 2008
df.iloc[:, :15]

,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45
AY,,,,,,,,,,,,,,,
2008,-,224.22,97.59,521.49,"1,001.83","1,004.08","1,065.65",973.26,"1,066.52","1,100.35","1,043.07",982.84,971.15,"1,009.13","1,055.30"
2009,307.97,254.44,347.82,368.09,449.19,460.47,472.95,424.28,424.13,423.60,416.49,363.98,361.43,344.64,368.21
2010,211.50,267.20,465.57,407.76,451.49,484.79,491.17,481.22,488.62,478.89,478.94,459.43,437.42,488.64,423.83
2011,287.87,282.87,315.02,425.71,438.80,465.27,469.73,461.11,464.61,457.61,482.69,436.01,417.36,399.74,378.47
2012,159.26,216.23,303.30,313.43,341.46,376.77,360.86,354.13,346.83,334.59,345.85,331.67,321.54,322.03,302.26
2013,156.30,232.44,275.16,275.56,297.84,318.48,316.93,346.47,363.89,369.74,370.22,359.37,357.76,366.82,363.16
2014,276.27,284.44,281.10,281.06,315.44,325.81,363.42,350.31,378.70,383.01,394.45,380.79,374.83,387.04,367.66
2015,288.18,219.54,291.58,274.94,300.05,296.77,281.77,289.59,318.02,332.81,339.17,349.00,347.77,355.48,352.33
2016,182.46,193.84,261.68,239.19,267.99,327.83,326.00,340.67,337.24,354.05,367.28,373.03,373.19,368.94,378.35
2017,159.34,188.92,223.63,234.24,279.71,309.97,324.84,339.03,368.96,402.19,441.30,431.66,449.29,461.86,453.95
2018,184.90,239.71,244.78,238.83,283.72,317.82,347.43,359.25,389.21,399.33,402.70,422.80,422.95,428.83,413.29
2019,176.67,223.21,272.60,258.66,317.22,348.26,377.44,415.67,417.33,462.90,473.26,477.90,479.36,494.15,505.32
2020,157.68,204.30,306.83,294.99,322.28,372.77,387.66,422.06,446.16,456.83,469.17,467.93,,,
2021,222.35,354.80,341.57,360.20,427.79,499.01,541.86,574.79,,,,,,,
2022,216.26,283.10,311.94,318.26,,,,,,,,,,,

In [20]:
# 2. convert to 10x10 -- should be first 10 columns, last 10 rows
df = df.iloc[-10:, :10]
df

,3,6,9,12,15,18,21,24,27,30
AY,,,,,,,,,,
2013,156.30,232.44,275.16,275.56,297.84,318.48,316.93,346.47,363.89,369.74
2014,276.27,284.44,281.10,281.06,315.44,325.81,363.42,350.31,378.70,383.01
2015,288.18,219.54,291.58,274.94,300.05,296.77,281.77,289.59,318.02,332.81
2016,182.46,193.84,261.68,239.19,267.99,327.83,326.00,340.67,337.24,354.05
2017,159.34,188.92,223.63,234.24,279.71,309.97,324.84,339.03,368.96,402.19
2018,184.90,239.71,244.78,238.83,283.72,317.82,347.43,359.25,389.21,399.33
2019,176.67,223.21,272.60,258.66,317.22,348.26,377.44,415.67,417.33,462.90
2020,157.68,204.30,306.83,294.99,322.28,372.77,387.66,422.06,446.16,456.83
2021,222.35,354.80,341.57,360.20,427.79,499.01,541.86,574.79,,
2022,216.26,283.10,311.94,318.26,,,,,,