In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

# add the rocky package to the path
import sys
sys.path.append('../')

# import the rocky package
from rocky.core import rocky
from rocky.triangle import Triangle

### a `rocky` object is a container that holds triangles, models, and forecasts

In [3]:
rky = rocky()

### you can add `Triangle` objects to the `rocky` object from just about anywhere:
- `xlsx`
- `csv`
- `pd.DataFrame`
- `clipboard`
- several sample triangles are available in the `rocky` package as well

In [9]:
# rky.FromClipboard(id='trifromclip')
# rky.FromExcel('./tri_data.xlsx', origin_columns=1, id='trifromexcel', sheet_name='Sheet1', sheet_range='g45:x65')
# rky.FromCSV('./tri_data.csv', origin_columns=1, id='trifromcsv')
# rky.FromDF(df, id='trifromdf')

rky.SampleTri('taylor_ashe', id='loss_tri')
rky.loss_tri

development_period         1          2          3          4          5  \
accident_period
2001-01-01          357848.0  1124788.0  1735330.0  2218270.0  2745596.0
2002-01-01          352118.0  1236139.0  2170033.0  3353322.0  3799067.0
2003-01-01          290507.0  1292306.0  2218525.0  3235179.0  3985995.0
2004-01-01          310608.0  1418858.0  2195047.0  3757447.0  4029929.0
2005-01-01          443160.0  1136350.0  2128333.0  2897821.0  3402672.0
2006-01-01          396132.0  1333217.0  2180715.0  2985752.0  3691712.0
2007-01-01          440832.0  1288463.0  2419861.0  3483130.0        NaN
2008-01-01          359480.0  1421128.0  2864498.0        NaN        NaN
2009-01-01          376686.0  1363294.0        NaN        NaN        NaN
2010-01-01          344014.0        NaN        NaN        NaN        NaN

development_period          6          7          8          9         10
accident_period
2001-01-01          3319994.0  3466336.0  3606286.0  3833515.0  3901463.0
2002-01-01          4120063.0  4647867.0  4914039.0  5339085.0        NaN
2003-01-01          4132918.0  4628910.0  4909315.0        NaN        NaN
2004-01-01          4381982.0  4588268.0        NaN        NaN        NaN
2005-01-01          3873311.0        NaN        NaN        NaN        NaN
2006-01-01                NaN        NaN        NaN        NaN        NaN
2007-01-01                NaN        NaN        NaN        NaN        NaN
2008-01-01                NaN        NaN        NaN        NaN        NaN
2009-01-01                NaN        NaN        NaN        NaN        NaN
2010-01-01                NaN        NaN        NaN        NaN        NaN

### a `Triangle` object is a wrapper around a `pandas.DataFrame` that adds convenience methods for doing loss development analyses

In [10]:
# expose underlying df with:
rky.loss_tri.df

development_period,1,2,3,4,5,6,7,8,9,10
accident_period,,,,,,,,,,
2001-01-01,357848.0,1124788.0,1735330.0,2218270.0,2745596.0,3319994.0,3466336.0,3606286.0,3833515.0,3901463.0
2002-01-01,352118.0,1236139.0,2170033.0,3353322.0,3799067.0,4120063.0,4647867.0,4914039.0,5339085.0,NaN
2003-01-01,290507.0,1292306.0,2218525.0,3235179.0,3985995.0,4132918.0,4628910.0,4909315.0,NaN,NaN
2004-01-01,310608.0,1418858.0,2195047.0,3757447.0,4029929.0,4381982.0,4588268.0,NaN,NaN,NaN
2005-01-01,443160.0,1136350.0,2128333.0,2897821.0,3402672.0,3873311.0,NaN,NaN,NaN,NaN
2006-01-01,396132.0,1333217.0,2180715.0,2985752.0,3691712.0,NaN,NaN,NaN,NaN,NaN
2007-01-01,440832.0,1288463.0,2419861.0,3483130.0,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01,359480.0,1421128.0,2864498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01,376686.0,1363294.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01,344014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### (lots and lots of functionality for working with triangles and doing chain-ladder analyses outside of the scope of this demo)

### once your `rocky` object has a `Triangle` object, you can assign it to a `model`

In [11]:
rky.AddModel(id='icrfs', model_class='loglinear', tri=rky.loss_tri)
rky.icrfs

This is for testing and compatability only. Please do not assign much credibility to these estimates for the purposes selecting carried reserves.

loglinear()

### most model types will end up using some sort of hyperparameter set

### hyperparameters can be automatically tuned using the `TuneFitHyperparameters` method for a rocky model

In [15]:
rky.icrfs.GetY()

0     12.787864
1     12.771722
2     12.579383
3     12.646287
4     13.001686
5     12.889503
6     12.996419
7     12.792414
8     12.839167
9     12.748438
10    13.550164
11    13.692236
12    13.817308
13    13.918293
14    13.449059
15    13.750529
16    13.650201
17    13.875333
18    13.802028
20    13.322102
21    13.747118
22    13.738866
23    13.562151
24    13.807461
25    13.650044
26    13.938965
27    14.182491
30    13.087648
31    13.983808
32    13.832027
33    14.261734
34    13.553481
35    13.598644
36    13.876859
40    13.175574
41    13.007502
42    13.528916
43    12.515328
44    13.132019
45    13.467314
50    13.261078
51    12.679184
52    11.897664
53    12.771537
54    13.061847
60    11.893702
61    13.176480
62    13.114315
63    12.237019
70    11.849040
71    12.491898
72    12.543990
80    12.333714
81    12.959953
90    11.126498
dtype: float64